* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fdf8f2 !important;
}

.display-center {
  height: 70%;
  /* border: 2px solid paleturquoise; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.content {
  width: 80%;
  text-align: center;
}

/* footer */
footer {
  height: 18vh;
  background-color: #edd6b557;
  padding-left: 10%;
  padding-right: 10%;
}

.footerLogo {
  display: inline;
  justify-content: center;
}

hr {
  border: none;
  height: 2px;
  background-color: Gray;
  opacity: 1;
  font-weight: bolder;
}
