* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdf8f2;
}

body {
  height: 100vh;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  padding-top: 40px;
  padding-bottom: 60px;
}

.start-btn {
  padding-top: 40px;
  padding-bottom: 60px;
}

button {
  background-color: #ea9a3d;
  width: 30%;
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 20px;
  height: 50px;
}

/* footer */
footer {
  height: 18vh;
  background-color: #edd6b557;
  padding-left: 10%;
  padding-right: 10%;
}

.footerLogo {
  display: inline;
  justify-content: center;
}

hr {
  border: none;
  height: 2px;
  background-color: Gray;
  opacity: 1;
  font-weight: bolder;
}
