* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fdf8f2 !important;
}

.main-container {
  height: auto;
}

.sub-bar {
  padding-left: 7%;
  padding-top: 1%;
  padding-bottom: 1.5%;
  background-color: #fffaf3;
}

.center {
  display: flex;
  justify-self: center;
  align-items: center;
}

.quiz-container {
  /* border: 2px solid coral; */
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5%;
}

.header {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

#carouselExample {
  /* border: 2px solid pink; */
  background-color: #fdf8f2;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
}

.question {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

li {
  list-style: none;
  padding-top: 20px;
}

.answer {
  border: none;
  background-color: none;
}

label {
  padding-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.hide {
  display: none;
}

input[type="radio"] {
  width: 20px;
  height: 1em;
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  top: -5px;
  left: 5px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 0.9px solid white;
}

.suggestion-header {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 32px;
}

.suggestion {
  color: #179c7e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

button {
  width: 30%;
  height: 50px;
  background-color: #ea9a3d;
  color: white;
  font-weight: bold;
  border: none;
}

/* footer */
footer {
  height: 18vh;
  background-color: #edd6b557;
  padding-left: 10%;
  padding-right: 10%;
}

.footerLogo {
  display: inline;
  justify-content: center;
}

hr {
  border: none;
  height: 2px;
  background-color: Gray;
  opacity: 1;
  font-weight: bolder;
}
