* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fdf8f2 !important;
}

.main-container {
  height: 67%;
  margin-left: 5%;
  margin-right: 5%;
}

.simulation-container {
  height: 67%;
  width: 100%;
  border: 20px solid lightblue;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* footer */
footer {
  height: 18vh;
  background-color: #edd6b557;
  padding-left: 10%;
  padding-right: 10%;
}

.footerLogo {
  display: inline;
  justify-content: center;
}

hr {
  border: none;
  height: 2px;
  background-color: Gray;
  opacity: 1;
  font-weight: bolder;
}
