* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fdf8f2 !important;
}

.main-container {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
}

.info-container {
  background-color: #fdf4ea;
  margin-top: 5%;
  border-radius: 40px;
  text-align: left;
  color: #179c7e;
  padding: 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 45px;
}

.help-container {
  color: black;
  background-color: #d6f4ef;
  opacity: 0.6;
  padding: 3%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  border-radius: 30px;
}

a {
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #edd6b557;
}
